*, *::before, *::after{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(93, 196, 255);
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 500px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}
.calc-grid > button{
    cursor: pointer;
    font-size: 20px;
    border: 1px solid white;
    outline: none;
    background-color: rgba(29, 35, 61, 0.8);
}

.calc-grid > button:hover{
    background-color: rgba(255,255,255,0.9);
}

.double-width{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .calc-prev{
    color: rgba(255,255,255,0.6);
    font-size: 20px;
}

.output .calc-current{
    color: wheat;
    font-size: 40px;
}